
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Additional custom styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
  border: transparent;
}



.toggle-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem; /* knob size */
  height: 1.5rem;
  border-radius: 9999px;
  appearance: none;
  background-color: white;
  border: 2px solid white;
  transition: transform 0.3s;
  cursor: pointer;
}

.toggle-label {
  display: block;
  width: 2.5rem; /* track size */
  height: 1.5rem;
  background-color: #e5e7eb;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.toggle-checkbox:checked {
  transform: translateX(1rem); /* moves knob to the right when checked */
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #3b82f6; /* active background */
}

.toggle-checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.toggle-checkbox:disabled + .toggle-label {
  background-color: #f3f4f6;
}

.ql-container {
  min-height: 300px;        
}
.rtl .ql-editor {
  direction: rtl;
  text-align: right;
}

/* flip the toolbar too */
.rtl .ql-toolbar {
  direction: rtl;
}